h2>a {
    text-decoration: none;
    color: black;
}
#count {
    font-size: 0.4em;
    color: grey;
}
.on {
    visibility: visible;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-left: 0em;
    padding: 5px;
}
.off {
    visibility: hidden;
    display: none;
}
nav {
    margin-top: -1.5em;
}
footer {
    font-size: 0.8em;
}

/* 
 * make the height of dt automatic to fit all the content such as an 
 * inderminate number of tags
 * 
 * https://developer.mozilla.org/en/docs/Web/CSS/clear 
 */
dt::after { 
   content: "";
   display: block; 
   clear: both;
}

dt.entry {
    cursor: pointer;
    border-top: 1px #ccc solid;
    padding: 0.25em 0.25em 10px 0.5em;
}
dt.closed {
    background-color: #f5f5f5;
}
dt.open {
    background-color: #c0c0c0;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
}
dt>ul {
    margin-bottom: 2em;
}
/*
dt.entry.closed:before {
    content: "+ ";
}
dt.entry.open:before {
    content: "- ";
}
*/
dd > a {
    color: blue;
}
dd {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 0.5em;
}
#search {
    width: 100%;
    border: none;
    border-bottom: 1px #000 dotted;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
form > div {
    font-size: 0.8em;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
    color: #b0b3a2;
    margin-top: -15px;
}
#tags {
    padding-left: 0px;
}
#tags li a, ul.tags li a {
    text-decoration: none;
}
#tags li, ul.tags li {
    list-style: none; 
    margin: 2px; 
    float: left; 
    border: 1px solid #ccc; 
    padding: 2px 5px 2px 5px; 
    background-color: #fff; 
    font-size: 0.8em; 
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}
#tags li:hover, ul.tags li:hover {
    background-color: yellow;
}
#tags:after {
    clear: both; 
    content: ""; 
    display: table;
}
li.curr {
    background-color: #ffcc00 !important;
}
.ltag, .rtag {
    float: left;
    width: 15px;
}
.ltag {
    text-align: left;
}
.mtag {
    float: left;
}
.rtag {
    text-align: right;
}
a.star {
    text-decoration: none;
    color: black;
}
a.star:hover {
    background-color: #ff8000;
}
.onetab {
    margin-left: 2em;
}
.twotabs {
    margin-left: 4em;
}

@media screen and (max-width: 524px) {
    h2 {
        font-size: 1.5em;
    }
    #count {
        font-size: 0.6em;
    }
    nav {
        font-size: 0.8em;
    }
}